@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
  background: #F5F7FB;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}


.title {
  color: #293264;
  text-align: center;
  font-family: 'Karla', sans-serif;
  font-size: 31.25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  border-radius: 15px;
  background: #4D5B9E;
  color: #F5F7FB;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 10px 20px;
  border: none;
}

.questions-container {
  width: 80%;
}

.question-container {
  display: flex;
  flex-direction: column;
}

.answer-container {
  display: flex;
  justify-content: space-between;
}

.answer {
  border: 2px solid #293264;
  padding: 5px 20px;
  border-radius: 10px;
  gap: 5px;
}

.correct {
  background-color: #94D7A2;
}

.selected {
  background-color: #D6DBF5;;
}

.incorrect {
  background-color: #F8BCBC;
}